body {
  background: url("../images/train.jpg");
  background-size: cover;
  font-family: 'Roboto Slab', serif;

}


.container {
  opacity: .70;
  font-weight: 900;

}


.jumbotron {
  background: url("../images/headerimage.jpg");
  background-size: cover;
  height: 160px;
  
}



